<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">grokonez</a>
      </div>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>

        <li *ngIf="authority === 'admin'" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Manage <b class="caret"></b></a>
            <ul class="dropdown-menu">
                
              <li><a class="nav-link" routerLink="lobby">Lobby</a></li>
              <li><a href="#"> Rooms </a></li>
              <li><a href="#"> Biodata</a></li>
              <li class="divider"></li>
              
            </ul>
          </li>


        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user">User Board</a>
        </li>
        <li *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li *ngIf="authority === 'pm'" class="nav-item">
          <a class="nav-link" routerLink="pm">PM Board</a>
        </li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

        <ul class="nav navbar-nav navbar-right navbar-user">
        
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="fa fa-user" ></i> Profile</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
              <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
              <li class="divider"></li>
              <li>
                <a href="" (click)="logout()"><strong>Logout</strong></a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
     
    </div>
  
  </nav>


  
  <div class="container">
    <router-outlet></router-outlet>
  </div>